@using ListListDev.Models
@model LoginViewModel
@{
    ViewBag.Title = "Log in";
}
<div class="row">
    <div class="col-md-12" align="center">
        <h1>List<sup>2</sup></h1>
        <section id="loginForm">
            <div class="panel panel-default small-center-panel" align="left">
                <div class="panel-heading">Log In</div>
                <div class="panel-body">
                    @using (Html.BeginForm("Login", "Account", new { ReturnUrl = ViewBag.ReturnUrl }, FormMethod.Post, new { role = "form" }))
                    {
                        @Html.AntiForgeryToken()

                        if (ViewData.ModelState.Any(x => x.Value.Errors.Any()))
                        {
                            <div class="alert alert-danger">
                                <a class="close" data-dismiss="alert">&times;</a>
                                Invalid login attempt
                            </div>
                        }

                        <div class="form-group">
                            @Html.LabelFor(m => m.Email, new { @class = "control-label" })
                            @Html.TextBoxFor(m => m.Email, new { @class = "form-control" })
                            @Html.ValidationMessageFor(m => m.Email, "", new { @class = "text-danger" })
                        </div>

                        <div class="form-group">
                            @Html.LabelFor(m => m.Password, new { @class = "control-label" })
                            @Html.PasswordFor(m => m.Password, new { @class = "form-control" })
                            @Html.ValidationMessageFor(m => m.Password, "", new { @class = "text-danger" })
                        </div>

                        <div class="form-group">
                            <div class="checkbox">
                                @Html.CheckBoxFor(m => m.RememberMe)
                                @Html.LabelFor(m => m.RememberMe)
                            </div>
                        </div>

                        <input type="submit" value="Log in" class="btn btn-primary btn-block" />
                        @Html.ActionLink("Register", "Register", null, new { @class = "btn btn-info btn-block" })
                    }
                 </div>
            </div>
        </section>
    </div>
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}