@model ListListDev.ViewModels.RegisterViewModel
@{
    ViewBag.Title = "Register";
}

<div class="row">
    <div class="col-md-12" align="center">
        <h1>List<sup>2</sup></h1>
        <div class="panel panel-default small-center-panel"  align="left">
            <div class="panel-heading">Register</div>
            <div class="panel-body">
                @using (Html.BeginForm("Register", "Account", FormMethod.Post, new { role = "form" }))
                {
                    @Html.AntiForgeryToken()

                    if (ViewData.ModelState.Any(x => x.Value.Errors.Any()))
                    {
                        <div class="alert alert-danger">
                            <a class="close" data-dismiss="alert">&times;</a>
                            Email already in use
                        </div>
                    }

                    <div class="form-group">
                        @Html.LabelFor(m => m.Email, new { @class = "control-label" })
                        @Html.TextBoxFor(m => m.Email, new { @class = "form-control" })
                        @Html.ValidationMessageFor(m => m.Email, "", new { @class = "text-danger" })
                    </div>

                    <div class="form-group">
                        @Html.LabelFor(m => m.Password, new { @class = "control-label" })
                        @Html.PasswordFor(m => m.Password, new { @class = "form-control" })
                        @Html.ValidationMessageFor(m => m.Password, "", new { @class = "text-danger" })
                    </div>

                    <div class="form-group">
                        @Html.LabelFor(m => m.ConfirmPassword, new { @class = "control-label" })
                        @Html.PasswordFor(m => m.ConfirmPassword, new { @class = "form-control" })
                        @Html.ValidationMessageFor(m => m.ConfirmPassword, "", new { @class = "text-danger" })
                    </div>

                    <div class="form-group">
                        <input type="submit" class="btn btn-primary btn-block" value="Register" />
                        @Html.ActionLink("Cancel", "Login", null, new { @class = "btn btn-default btn-block" })
                    </div>
                }
            </div>
        </div>
    </div>
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}